/* * * * * * * *\
	RESOURCE.RC -
		Copyright © 2024 Brady McDermott, Vortesys
	DESCRIPTION -
		This file contains resources.
	LICENSE INFORMATION -
		MIT License, see LICENSE.txt in the root folder
\* * * * * * * */

/* Necessary Evil */
#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#include "resource.h"
#undef APSTUDIO_HIDDEN_SYMBOLS

/* Bitmaps */
IDB_MAX BITMAP images\max.bmp
IDB_MAX_S BITMAP images\maxd.bmp
IDB_MIN BITMAP images\min.bmp
IDB_MIN_S BITMAP images\mind.bmp
IDB_RES BITMAP images\res.bmp
IDB_RES_S BITMAP images\resd.bmp
IDB_MENU BITMAP images\menu.bmp

/* Version Information */
#define APSTUDIO_HIDDEN_SYMBOLS
#define VER_FILEDESCRIPTION_STR     "Cascades' "
#define VER_INTERNALNAME_STR        "cscdhook\0"
#define VER_ORIGINALFILENAME_STR    "CSCDHOOK.DLL"
#define VER_PRODUCTNAME_STR         "Cascades' Hook"
#include "..\common\version.inc"
#undef APSTUDIO_HIDDEN_SYMBOLS

VS_VERSION_INFO VERSIONINFO
	FILEVERSION		VER_FILEVERSION
	PRODUCTVERSION	VER_PRODUCTVERSION
	FILEFLAGSMASK	0x3fL
	FILESUBTYPE		0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "FileDescription",  VER_FILEDESCRIPTION_STR "\0"
			VALUE "FileVersion",      VER_FILEVERSION_STR "\0"
			VALUE "InternalName",     VER_INTERNALNAME_STR "\0"
			VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR "\0"
			VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR "\0"
			VALUE "ProductName",      VER_PRODUCTNAME_STR
			VALUE "ProductVersion",   VER_PRODUCTVERSION_STR "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 1033, 1200
	END
END
